
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: black;
    color: white;
    font-size: larger;
}

.description {
    color: red;
    font-style: italic;
}

.list {
    text-align: left;
}

.list.bold {
    font-weight: bold;
}

.direc {
    font-size: large;
}

.imgsize {
    height:auto;
    width:600px;
}